{
    "Name": "reboot",
    "Template": "/RebootRequired.drt",
    "TemplateData": [
      {
        "name": "templateMinutes",
        "value": "{{ reboot_minutes }}"
      },
      {
        "name": "templateCount",
        "value": "{{ reboot_count }}"
      }
    ]
  }